body {
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 0px, 200px, 0px, 200px;

}

.blog h1 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Oswald', sans-serif;
}

.blog img {
    width: 500px;
    height: 260px;
    border: 1px black;
    border-radius: 4px;
}
    

.blog p {
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;

}